* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blueviolet;
  font-size: 54px;
  text-transform: uppercase;
}

p {
  color: aqua;
  font-size: 24px;
  font-weight: 700;
}
.pageTitle {
  color: blue;
}

.minorTitle {
  color: chartreuse;
}
/* display: block - wyswietla jedno pod drugim */ 
/* display: inline - jeden obok drugiego + nie działa width i height */ 
/* display: inline-block - jeden obok drugiego i działa width,height */ 
/* display:none - nic nie wyświetla */ 
.card {
  display: inline-block;
  background-color: rgb(133, 149, 102);
  text-align: center;
  width: 40%;
  min-height: 60%;
  box-shadow: 0px 5px 15px 1px rgb(95, 95, 95);
  margin: 2%;
  padding: 3%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.cardWrapper {
  background-color: rgb(250, 202, 144);
  width: 80%;
  margin:auto;
  padding: 5%;
}

.userName {
  background-color: black;
  color: rgb(179, 176, 176);
  font-size: 44px;
  margin-top: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.userDesc {
  padding: 10px;
  margin-top: 10px;
  text-align: justify;
}

.userBtn {
  display: block;
  margin: 10px;
  margin-top: auto;
  width: 200px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 15px;
  text-align: center;
}
